<h1>Aqui va a ir el tablero actual:{{actualCol}} previous:{{previousCol}}</h1>



<div style="text-align:center; font-size: 0; margin:auto; padding:0; margin:0; border:0; height:50px;">
	<div id="div1_0" class="celldashboard" (mousemove)="placeTop(0)" (mouseleave)="unPlaceTop(0)" (click)="dropIt(0)"><img id="img1_0" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div1_1" class="celldashboard" (mousemove)="placeTop(1)" (mouseleave)="unPlaceTop(1)" (click)="dropIt(1)"><img id="img1_1" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div1_2" class="celldashboard" (mousemove)="placeTop(2)" (mouseleave)="unPlaceTop(2)" (click)="dropIt(2)"><img id="img1_2" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div1_3" class="celldashboard" (mousemove)="placeTop(3)" (mouseleave)="unPlaceTop(3)" (click)="dropIt(3)"><img id="img1_3" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div1_4" class="celldashboard" (mousemove)="placeTop(4)" (mouseleave)="unPlaceTop(4)" (click)="dropIt(4)"><img id="img1_4" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div1_5" class="celldashboard" (mousemove)="placeTop(5)" (mouseleave)="unPlaceTop(5)" (click)="dropIt(5)"><img id="img1_5" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div1_6" class="celldashboard" (mousemove)="placeTop(6)" (mouseleave)="unPlaceTop(6)" (click)="dropIt(6)"><img id="img1_6" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
</div>

<div style="text-align:center; font-size: 0; margin:auto; padding:0; margin:0; border:0; height:50px;">
	<div id="div2_0" class="celldashboard" (mousemove)="placeTop(0)" (mouseleave)="unPlaceTop(0)" (click)="dropIt(0)"><img id="img1_0" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div2_1" class="celldashboard" (mousemove)="placeTop(1)" (mouseleave)="unPlaceTop(1)" (click)="dropIt(1)"><img id="img1_1" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div2_2" class="celldashboard" (mousemove)="placeTop(2)" (mouseleave)="unPlaceTop(2)" (click)="dropIt(2)"><img id="img1_2" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div2_3" class="celldashboard" (mousemove)="placeTop(3)" (mouseleave)="unPlaceTop(3)" (click)="dropIt(3)"><img id="img1_3" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div2_4" class="celldashboard" (mousemove)="placeTop(4)" (mouseleave)="unPlaceTop(4)" (click)="dropIt(4)"><img id="img1_4" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div2_5" class="celldashboard" (mousemove)="placeTop(5)" (mouseleave)="unPlaceTop(5)" (click)="dropIt(5)"><img id="img1_5" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div2_6" class="celldashboard" (mousemove)="placeTop(6)" (mouseleave)="unPlaceTop(6)" (click)="dropIt(6)"><img id="img1_6" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
</div>

<div style="text-align:center; font-size: 0; margin:auto; padding:0; margin:0; border:0; height:50px;">
	<div id="div3_0" class="celldashboard" (mousemove)="placeTop(0)" (mouseleave)="unPlaceTop(0)" (click)="dropIt(0)"><img id="img1_0" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div3_1" class="celldashboard" (mousemove)="placeTop(1)" (mouseleave)="unPlaceTop(1)" (click)="dropIt(1)"><img id="img1_1" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div3_2" class="celldashboard" (mousemove)="placeTop(2)" (mouseleave)="unPlaceTop(2)" (click)="dropIt(2)"><img id="img1_2" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div3_3" class="celldashboard" (mousemove)="placeTop(3)" (mouseleave)="unPlaceTop(3)" (click)="dropIt(3)"><img id="img1_3" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div3_4" class="celldashboard" (mousemove)="placeTop(4)" (mouseleave)="unPlaceTop(4)" (click)="dropIt(4)"><img id="img1_4" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div3_5" class="celldashboard" (mousemove)="placeTop(5)" (mouseleave)="unPlaceTop(5)" (click)="dropIt(5)"><img id="img1_5" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div3_6" class="celldashboard" (mousemove)="placeTop(6)" (mouseleave)="unPlaceTop(6)" (click)="dropIt(6)"><img id="img1_6" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
</div>

<div style="text-align:center; font-size: 0; margin:auto; padding:0; margin:0; border:0; height:50px;">
	<div id="div4_0" class="celldashboard" (mousemove)="placeTop(0)" (mouseleave)="unPlaceTop(0)" (click)="dropIt(0)"><img id="img1_0" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div4_1" class="celldashboard" (mousemove)="placeTop(1)" (mouseleave)="unPlaceTop(1)" (click)="dropIt(1)"><img id="img1_1" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div4_2" class="celldashboard" (mousemove)="placeTop(2)" (mouseleave)="unPlaceTop(2)" (click)="dropIt(2)"><img id="img1_2" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div4_3" class="celldashboard" (mousemove)="placeTop(3)" (mouseleave)="unPlaceTop(3)" (click)="dropIt(3)"><img id="img1_3" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div4_4" class="celldashboard" (mousemove)="placeTop(4)" (mouseleave)="unPlaceTop(4)" (click)="dropIt(4)"><img id="img1_4" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div4_5" class="celldashboard" (mousemove)="placeTop(5)" (mouseleave)="unPlaceTop(5)" (click)="dropIt(5)"><img id="img1_5" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div4_6" class="celldashboard" (mousemove)="placeTop(6)" (mouseleave)="unPlaceTop(6)" (click)="dropIt(6)"><img id="img1_6" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
</div>

<div style="text-align:center; font-size: 0; margin:auto; padding:0; margin:0; border:0; height:50px;">
	<div id="div5_0" class="celldashboard" (mousemove)="placeTop(0)" (mouseleave)="unPlaceTop(0)" (click)="dropIt(0)"><img id="img1_0" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div5_1" class="celldashboard" (mousemove)="placeTop(1)" (mouseleave)="unPlaceTop(1)" (click)="dropIt(1)"><img id="img1_1" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div5_2" class="celldashboard" (mousemove)="placeTop(2)" (mouseleave)="unPlaceTop(2)" (click)="dropIt(2)"><img id="img1_2" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div5_3" class="celldashboard" (mousemove)="placeTop(3)" (mouseleave)="unPlaceTop(3)" (click)="dropIt(3)"><img id="img1_3" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div5_4" class="celldashboard" (mousemove)="placeTop(4)" (mouseleave)="unPlaceTop(4)" (click)="dropIt(4)"><img id="img1_4" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div5_5" class="celldashboard" (mousemove)="placeTop(5)" (mouseleave)="unPlaceTop(5)" (click)="dropIt(5)"><img id="img1_5" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div5_6" class="celldashboard" (mousemove)="placeTop(6)" (mouseleave)="unPlaceTop(6)" (click)="dropIt(6)"><img id="img1_6" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
</div>

<div style="text-align:center; font-size: 0; margin:auto; padding:0; margin:0; border:0; height:50px;">
	<div id="div6_0" class="celldashboard" (mousemove)="placeTop(0)" (mouseleave)="unPlaceTop(0)" (click)="dropIt(0)"><img id="img1_0" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div6_1" class="celldashboard" (mousemove)="placeTop(1)" (mouseleave)="unPlaceTop(1)" (click)="dropIt(1)"><img id="img1_1" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div6_2" class="celldashboard" (mousemove)="placeTop(2)" (mouseleave)="unPlaceTop(2)" (click)="dropIt(2)"><img id="img1_2" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div6_3" class="celldashboard" (mousemove)="placeTop(3)" (mouseleave)="unPlaceTop(3)" (click)="dropIt(3)"><img id="img1_3" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div6_4" class="celldashboard" (mousemove)="placeTop(4)" (mouseleave)="unPlaceTop(4)" (click)="dropIt(4)"><img id="img1_4" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div6_5" class="celldashboard" (mousemove)="placeTop(5)" (mouseleave)="unPlaceTop(5)" (click)="dropIt(5)"><img id="img1_5" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
	<div id="div6_6" class="celldashboard" (mousemove)="placeTop(6)" (mouseleave)="unPlaceTop(6)" (click)="dropIt(6)"><img id="img1_6" style="padding:0; margin:0; border:0;" src="./cell.png"></div>
</div>




